.el-button + .el-button {
  margin-left: 8px;
}

.popover-w {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.query-item {
  color: #fff;
  transition: all 0.3s;
}

.query-item:hover {
  cursor: pointer;
  /* color: red; */
  transform: translateY(-3px);
  /* background: linear-gradient(
    to bottom,
    rgba(0, 128, 255, 0.6),
    rgba(0, 128, 255, 0.281)
  ); */
}
